@font-face {
    font-family: "Hylia Serif";
    src: url("../fonts/FuenteZelda.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* =========================
   1. Reset básico
   ========================= */

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    outline:0;
    list-style: none;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms;
        animation-iteration-count: 1;
        transition-duration: 0.01ms;
    }
}


/* =========================
   2. Variables globales
   ========================= */

:root{
    --fuente-principal: "Hylia Serif", serif;
    --fondo-principal:#0a140a;
    --color-negro: #000000;
    --color-blanco: #ffffff;
    --color-oro: #c4a457;
    --gris-oscuro:#1a1a1a;
    --gris-claro:#eee;
}


/* =========================
   3. Estilos generales
   ========================= */

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--fondo-principal);
}

main{
    flex: 1;
    position: relative;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* =========================
   4. Cabecera
   ========================= */

.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:1rem;
    margin: 0 auto;
    width: 100%;
    min-height: 120px;
    padding: 1rem 3rem;
    background-image: url("../imgs/pattern2.jpg");
}

.cabecera__logo{
    display: flex;
    justify-content: center;
    width: 25%;
}

.logo__imagen{
    max-width: 30%;
}

.cabecera__titulo{
    width: 40%;
    text-align: center;
    font-size: 3rem;
    font-family: var(--fuente-principal);
}

.cabecera__filtros{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 25%;
    gap: 0.5rem;
    padding: 0.5rem;
    background: #00000090;
    border-radius: 0.5rem;
    border: 1px solid #c4a45730;
}

.filtros__descripcion {
    grid-column: 1 / 5;
    text-align: center;
    width: 100%;
    font-family: var(--fuente-principal);
    color: var(--color-oro);
    padding:0.5rem;
    font-size: 1rem;
}


.filtros__etiqueta {
    display: flex;
    align-items: center;
    padding: 0.55rem;
    border: 1px solid #444;
    cursor: pointer;
    border-radius: 0.75rem;
    background: var(--gris-oscuro);
    color: var(--gris-claro);
    font-family: var(--fuente-principal);
    font-size: 0.85rem;
    transition: all 0.3s ease;
}

.filtros__checkbox {
    cursor: pointer;
    height: 0;
    width: 0;
}

.filtros__etiqueta:hover {
    border-color: var(--color-oro);
}

.filtros__etiqueta:has(.filtros__checkbox:checked) {
    background: var(--color-oro);
    color: var(--color-negro);
    border-color: var(--color-blanco);
    font-weight: 600;
}

.cabecera__buscador{
    display: flex;
    justify-content: center;
    width: 100%;
}

.buscador__etiqueta {
    display: flex;
    align-items: center;
    background: #00000095;
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--color-oro);
    border-radius: 2rem;
    transition: all 0.3s ease;
}

.buscador__lupa{
    max-width: 50px;
}

.buscador__input {
    border: none;
    background: transparent;
    color: var(--color-blanco);
    font-family: var(--fuente-principal);
    font-size: 1rem;
    padding: 0.5rem;
}


.buscador__etiqueta:focus-within{
    border-color: var(--color-blanco);
    box-shadow: 0 0 15px var(--color-oro);
    transform: translateY(-2px);
}


@media (max-width: 1550px) {
    .cabecera__filtros {
        grid-template-columns: repeat(2, 1fr);
        width: 20%;
        gap: 0.5rem;
        padding: 0.5rem;
    }

    .filtros__descripcion {
        grid-column: 1 / 3;
        font-size: 0.9rem;
        padding: 0.2rem;
    }

    .filtros__etiqueta {
        padding: 0.4rem;
        font-size: 0.75rem;
        border-radius: 0.5rem;
    }

    .cabecera__titulo {
        width: 45%;
        font-size: 2.8rem;
    }
}

@media (max-width: 1100px) {
    .cabecera {
        padding: 1rem 1.5rem;
        gap: 0.5rem;
    }

    .cabecera__titulo {
        font-size: 2.2rem;
        width: 35%;
    }
    .logo__imagen{
        max-width: 80px;
    }


    .cabecera__filtros {
        grid-template-columns: repeat(2, 1fr);
        width: 30%;
        gap: 0.3rem;
    }

    .filtros__descripcion {
        grid-column: 1 / 3;
        font-size: 0.85rem;
    }

    .filtros__etiqueta {
        padding: 0.35rem;
        font-size: 0.75rem;
    }
}

@media (max-width: 800px) {
    .cabecera {
        padding: 1rem 1.5rem;
        gap: 1rem 0;
        justify-content: space-evenly;
        min-height: 200px;
    }

    .cabecera__logo {
        order: 1;
        width: 10%;
        justify-content: center;
    }

    .logo__imagen {
        max-width: 75px;
    }

    .cabecera__titulo {
        order: 2;
        width: 60%;
        text-align: start;
        font-size: 1.8rem;
    }

    .cabecera__buscador {
        order: 3;
        width: 45%;
        justify-content: flex-start;
    }

    .cabecera__filtros {
        order: 4;
        width: 50%;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.2rem;
        padding: 0.3rem;
    }

    .filtros__descripcion {
        grid-column: 1 / 5;
        font-size: 0.75rem;
        padding: 0.1rem;
    }

    .filtros__etiqueta {
        font-size: 0.65rem;
        padding: 0.25rem;
    }

    .buscador__etiqueta {
        padding: 0.4rem 1rem;
    }

    .buscador__lupa {
        max-width: 30px;
    }
}

@media (max-width: 600px) {
    .cabecera {
        padding: 0.8rem;
    }
    .cabecera__logo {
        width: 20%;
        justify-content: center;
    }

    .cabecera__titulo {
        font-size: 1.5rem;
    }

    .logo__imagen {
        max-width: 40px;
    }

    .cabecera__buscador {
        width: 40%;
    }

    .buscador__input {
        font-size: 0.75rem;
        width: 80px;
    }

    .cabecera__filtros {
        width: 58%;
        gap: 0.1rem;
    }

    .filtros__etiqueta {
        font-size: 0.5rem;
        padding: 0.15rem;
        border-radius: 0.2rem;
    }

    .filtros__descripcion {
        font-size: 0.6rem;
    }
}

@media (max-width: 400px) {
    .cabecera {
        padding: 0.5rem;
        gap: 0.5rem 0;
        min-height: 180px;
    }


    .cabecera__logo {
        width: 20%;
    }

    .logo__imagen {
        max-width: 35px;
    }

    .cabecera__titulo {
        width: 80%;
        font-size: 1rem;
        text-align: center;
    }


    .cabecera__buscador {
        width: 30%;
    }

    .buscador__etiqueta {
        padding: 0.2rem 0.5rem;
    }

    .buscador__input {
        font-size: 0.6rem;
        width: 45px;
    }

    .buscador__lupa {
        max-width: 15px;
    }

    .cabecera__filtros {
        width: 70%;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.1rem;
        padding: 0.2rem;
    }

    .filtros__descripcion {
        font-size: 0.55rem;
        padding: 0;
    }

    .filtros__etiqueta {
        font-size: 0.4rem;
        padding: 0.1rem;
        border-radius: 0.2rem;
    }
}

/* =========================
   5. SECCIÓN INTRODUCTORIA
   ========================= */

.introduccion {
    text-align: center;
    padding: 1rem;
    color: var(--color-blanco);
    margin: 0 auto;
}

.introduccion__titulo {
    font-family: var(--fuente-principal);
    color: var(--color-oro);
    font-size: 2.5rem;
    padding:1.1rem;
}

.introduccion__enlace {
    position: absolute;
    top:15px;
    right: 15px;
    display: inline-block;
    text-align: center;
    padding: 1rem;
    width: auto;
    min-width: 200px;
    font-family: var(--fuente-principal);
    color: var(--color-oro);
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.8);
    border: 3px double var(--color-oro);
    border-radius: 2px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.introduccion__enlace:hover {
    background: var(--color-oro);
    color: var(--color-negro);
    transform: translateY(-3px);
    border-color: var(--color-blanco);
}


.introduccion__texto {
    padding:1.5rem;
    font-size: 1.1rem;
    font-style: italic;
}

/* =========================
   6. FOOTER
   ========================= */

.pie-pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--color-negro);
    border-top: 5px double var(--color-oro);
    padding: 2rem;
    text-align: center;
}

.pie-pagina__navegacion {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.pie-pagina__enlace {
    font-family: var(--fuente-principal);
    color: var(--color-oro);
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.pie-pagina__enlace:hover {
    color: var(--color-blanco);
}

.pie-pagina__texto {
    color: var(--gris-claro);
    font-size: 0.85rem;
    opacity: 0.7;
    max-width: 600px;
}

@media (max-width: 800px) {
    .pie-pagina {
        padding: 2rem 1rem;
    }
    .pie-pagina__enlace {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .pie-pagina__navegacion {
        flex-direction: column;
        gap: 1rem;
    }
    .pie-pagina__texto {
        font-size: 0.75rem;
    }
}

/* =========================
   7. SECCIÓN INTRODUCTORIA
   ========================= */

.cabecera-favoritos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    min-height: 150px;
    padding: 1rem 3rem;
    background-image: url("../imgs/pattern2.jpg");
    border-bottom: 5px double var(--color-oro);
}

.cabecera-favoritos__titulo {
    font-family: var(--fuente-principal);
    color: var(--color-oro);
    font-size: 3rem;
    text-shadow: 2px 2px 5px var(--color-negro);
}

.cabecera-favoritos__logo .logo__imagen {
    max-width: 80px;
}


@media (max-width: 1100px) {
    .cabecera-favoritos__titulo {
        font-size: 2.5rem;
    }
    .cabecera-favoritos__logo .logo__imagen {
        max-width: 70px;
    }
}

@media (max-width: 800px) {
    .cabecera-favoritos {
        gap: 1rem;
        min-height: 120px;
    }
    .cabecera-favoritos__titulo {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    .cabecera-favoritos {
        flex-direction: column;
        text-align: center;
        padding: 1.5rem 1rem;
    }
    .cabecera-favoritos__titulo {
        font-size: 1.8rem;
    }
    .cabecera-favoritos__logo .logo__imagen {
        max-width: 60px;
    }
}